* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 750px;
    margin: 35px auto;
    padding: 20px;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
}

.title-container {
    grid-column: 1 / 4;
    text-align: center;
    margin-bottom: 70px;
}

.tools-section {
    grid-column: 1 / 2;
    margin: 0 30px 0 15px;
}

.choices {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin: 0 30px 0 15px; */
}

button {
    width: 140px;
    height: 30px;
    margin: 20px 0px 20px 0;

}

.drawing-section {
    grid-column: 2 / 4;
    border: 2px solid black;
    width: 500px;
    height: 500px;
    display: grid;
}

.footer {
    grid-column: 1 / 4;
}


/* slider css this was taken from w3 schools examples*/
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-bottom: 15px;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #04AA6D;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
  }

  .slidecontainer p {
      text-align: center;
      font-weight: bold;
  }